<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPerfil.jpg" class="img-fluid" id="fotoDePerfil">
    </div>    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Fernando Gimenez</p>
        <p>Full Stack Java Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In libero necessitatibus quos, neque ad temporibus veniam dignissimos consectetur, ipsam id eos dolor nostrum at exercitationem recusandae atque. Autem, voluptates deleniti.</p>
        </span>
    </div>
</div> 