<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Spring Rest API</h2>
            <p>Proyecto final del curso de Backend de Codo a Codo utilizando Spring Boot</p>
            <a class="link" href="https://github.com/fergim92/codo-a-codo-spring-rest-api" target="_blank" rel="noopener noreferrer">Link 1</a>
        </div>
    
        <div class="col-sm-12 col-md-7 col-lg-7 parte2">
            <h2>Trabajo Integrador Codo a Codo (pagina web)</h2>
            <p>Trabajo Integrador de la parte de Bootstrap del programa Full Stack Java de Codo a Codo</p>
            <a class="link" href="https://incredible-paletas-00a06d.netlify.app/" target="_blank" rel="noopener noreferrer">Link 2</a>
        </div>
        <br>
        <div class="col-sm-12 col-md-7 col-lg-7 parte3">
            <a class="link" href="https://incredible-paletas-00a06d.netlify.app/tickets.html" target="_blank" rel="noopener noreferrer">Link 3</a>
        </div>
    </div>
</div>